.App {
  text-align: center;
}

.formulario-container {
  margin: 20px auto;
  max-width: 300px;
}

.lista-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.lista {
  margin: 0 10px;
  width: 90%;
}

/* Ajustamos los estilos para MetaAgregada */
.meta-agregada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.meta-agregada h2 {
  margin: 0;
}

.meta-agregada ul {
  list-style-type: none;
  padding: 0;
}

.meta-agregada li {
  margin: 5px 0;
}
/* App.css */


.listas-container {
  display: flex;
  justify-content: space-between;
}

.lista {
   /* Ajusta el ancho según tus preferencias */
}

/* Añade cualquier otro estilo CSS necesario para tus componentes */
