/* App.css */
.App {
  text-align: center;
  margin: 120px 300px;
}


.contadores-container {
  display: flex;
  justify-content: space-between;
}

.contador {
  width: 48%; /* Ajusta el ancho según tus preferencias */
  border: 2px solid yellow; /* Marco verde */
  padding: 10px;
  margin-bottom: 20px;
}

.listas-container {
  display: flex;
  justify-content: space-between;
}

.lista {
  width: 1000%; /* Ajusta el ancho según tus preferencias */
}
