.App {
  text-align: center;
  margin: 120px 300px;
}
.agregar-meta-conteiner h2{
  background-color:grin;

}

.contador {
  flex: 1; 
  border-radius: 8px; 
    border: 5px solid yellow;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  margin-right: 10px;
}
.contadores-container {
  display: flex;
  justify-content: space-between;
}



.listas-container {
  display: flex;
  justify-content: space-between;
}

.lista {
  width: 1000%;
}
.Meta {
  border: 10x solid #4CAF50;
  border-radius: 8px; 
  padding: 50px; 
  margin-bottom: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
